* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	max-width: 960px;
	display: flex;
	width: 100%;
	flex-direction: column;
	margin: 20px;
}
header {
	width: 100%;
	background-color: yellow;
	height: 70px;
	border: 2px solid;
	border-color: black;
	margin-bottom: 10px;
	text-align: center;
	line-height: 70px;
}

.main {
	display: flex;
	height: 240px;
	flex-direction: row;
	line-height: 240px;
}

main {
	width: 54%;
	background-color: grey;
	border: 2px solid;
	border-color: black;
	text-align: center;
	line-height: inherit;
}

.left-sidebar {
	width: 23%;
	background-color: skyblue;
	border: 2px solid;
	border-color: black;
	margin: 0 10px;
	text-align: center;
	line-height: inherit;
}

.right-sidebar {
	width: 23%;
	background-color: darkorange;
	border: 2px solid;
	border-color: black;;
	text-align: center;
	line-height: inherit;
}

footer {
	background-color: green;
	height: 70px;
	border: 2px solid;
	border-color: black;
	margin-top: 10px;
	text-align: center;
	line-height: 70px;
}

