body {
    background: url('../img/background.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #4e5050;
}

strong {
    font-weight: bold;
}

a,
a:hover,
a:visited,
a:link {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    margin: 50px 0;
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;     
}

h1,
h2,
h3,
.list-item {
    color: #263555; 
}

h3,
.list-item {
    font-size: 15px;
    margin-bottom: 10px;
}

.destination h2 {
    margin: 15px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

h1,
li.menu-item,
li.submenu-item,
.slider-text-top,
.slider-text-bottom {
    font-family: 'Pathway Gothic One', sans-serif;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1024px;
}

header {
    height: 235px;
    position: relative;
}

.logo {
    width: 142px;
    height: 142px;
    top: 50%;
    left: 50%;
    z-index: 9;
    position: absolute;
    border-radius: 50%;
    background: #fff;
    line-height: 142px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.logo a {
    font-family: 'Dorsa', 'Arial', sans-serif;
    font-size: 60px;
    color: #263555;
    text-transform: uppercase;
}

.menu-wrapper {
    max-width: 100%;
    margin: 0 auto;
}

ul.menu {
    width: 100%;
    height: 28px;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 0;
}

li.menu-item {
    display: inline-block;
    position: relative;
}

li.menu-item:nth-child(3) {
    margin-right: 90px;
}

li.menu-item:nth-child(4) {
    margin-left: 90px;
}

li.menu-item:hover > ul.submenu {
    display: block;
}

li.menu-item a {
    display: block;
    padding: 0 30px;
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
}

li.menu-item > a:hover {
    color: #263555;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 65px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    left: 25px;
    top: 31px;
    padding-bottom: 3px;
}

ul.submenu:before {
    content: "";
    position: relative;
    top: -3px;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 3px 3px;
    border-color: transparent transparent #fff transparent;
}

li.submenu-item a {
    font-size: 20px;
    color: #6b7488;
    padding: 3px 0;
}

main {
    padding: 60px 0;
    background: #fff;
}

main section,
.gallery-wrapper{
    max-width: 902px;
    position: relative;
    margin: 0 auto;
}

.article-item .preview a {
    position: static;
    margin-top: 20px;
}


#to-top {
    display: block;
    width: 32px;
    height: 32px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    border-radius: 50%;
    background:url('../img/to-top.png') #38afe5 50% 50%;
}


footer {
    position: relative;
    box-sizing: border-box;
}

.footer-top {
    display: flex;
    padding: 30px 0;
    background: #30455b;
    color: #fff;
    justify-content: space-evenly;
    align-items: baseline;
}

.footer-contacts {
    width: 290px;
    padding-top: 5px;
    padding-left: 25px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.5;
}

.footer-contacts p {
    display: flex;
    flex-direction: column;
}

.footer-contacts a {
    color: #fff;
}
.footer-bottom {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bottom p {
    color: #fff;
    margin-top: 20px;
}

.social-group {
    font-size: 0;
}

.social-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    background: url('../img/social.png') no-repeat;
}

.social-link:hover {
    transform: scale(1.1);
}

#twitter {
    background-position: 0 0;
}
#facebook {
    background-position: -52px 0;
}
#google {
    background-position: -106px;
}
#linkedin {
    background-position: -158px;
}

nav.footer-nav {
    box-sizing: border-box;
    padding-left: 30px;
}

ul.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

li.footer-nav-item {
    min-width: 75px;
    margin-bottom: 10px;
}

li.footer-nav-item a {
    display: inline-block;
    min-width: 75px;
    margin: 0 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.contact {
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-item:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: rgba(0,0,0, 0.5) url(../img/loop.png) 50% no-repeat;
    cursor: pointer;
}

.gallery-item {
    max-width: 288px;
    margin-bottom: 40px;
    position: relative;
    font-size: 0;
}

